node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
firebase-debug.log
jsdoc/
template/
# macOS
.DS_Store
replacements.txt
git-filter-repo.py
android/app/google-services.json
google-services.json
